.container-children{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-children.one{
    background-image: url("https://cdn.pixabay.com/photo/2020/04/04/11/32/campfire-5001911_960_720.jpg");
    margin-top: 0px;
    width: 100%;
    flex: 620px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: black;
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
}

#gap-space-under{
    width: 100%;
    background-color: black;
    padding-top: 60px;
}

.under-navbar {
    background-color: black;
    width: 100%;
    padding-bottom: 60px;
    z-index: 0;
    color: black;

}

.where-to-go{
    display:flex;
    flex-direction: column;
    margin-top: 380px;
}
.flexible{
    width: 140px;
    padding: 20px 10px;
    border-radius: 30px;
    border: none;
    align-self: center;
    cursor: pointer;
    background-color: white;
    text-align: center;
    text-decoration: none;
    color: linear-gradient(90deg, rgba(163,44,196,1) 1%, rgba(232,38,127,1) 100%);
    font-weight: 500;
}

.flexible.all-links:active{
    color: rgb(131, 34, 158);
}

.container-children.four{
    background-color: #F1EFEF;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-bottom: 80px;
    margin-top: 20px;
}

.insp-header{
    text-align: left;
    margin-left: 98px;
    margin-top: 67px;
    margin-bottom: 35px;
    width: 100%;
    font-size: 42px;
    font-weight: 400;
}

.inspiration {
    display: flex;
    gap: 15px;
    margin-bottom: 0;
    margin-top: 20px;
}


.inspiration img {
    width: 290px;
    height: 290px;
    border-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.insp-box-children {
    position: relative;
    width: 290px;
    display: flex;
    flex-direction: column;


}

.insp-box-children p {
    margin-top: 0;
    height: 100px;
    width: 100%;
    padding-top: 30px;
    text-align: center;
    border-radius: 20px;
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.insp-box-children.one{
    background-color: rgb(217, 59, 48);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 6%;
}
.insp-box-children.two{
    background-color: rgb(212, 27, 123);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 6%;
}
.insp-box-children.three{
    background-color: rgb(216, 42, 74);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 6%;
}
.insp-box-children.four{
    background-color: rgb(222, 49, 81);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-radius: 6%;
}

.container-children.three{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    margin-top: 20px;
}

.container-children.three img {
    border-radius: 10px;
    width: 650px;
    height: 560px;
}

.insp-box-text{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 27px;
}
