.create-spot {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1;
}

.create-spot-container {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    min-height: 100vh;
}

.sep-text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}


.create-spot-input{
    width: 350px;
    height: 30px;

}

.create-spot-logo {
    position: absolute;
    margin-bottom: 640px;
    margin-right: 630px;
}

.logo-plus-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-height: 100vh;
    background: rgb(60, 49, 214);
    background: linear-gradient(360deg, rgb(55, 44, 206) 0%, rgb(218, 43, 124) 86%);
    color: white;
    font-size: 48px;
    font-weight: 300;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    padding-left: 30px;
}

.logo-plus-text p {
    font-weight: 500;
}

.form.test2{
    min-height: 100vh;
    background-color:  #FFFFFF;
    width: 50%;
    display: flex;
    flex-direction: column;
}




body, html {
    width: 100%;
    height: 100%;
}

.create-spot-input{
    border: 1px solid transparent;
    padding: 15px;
    border-radius: 12px;
    box-shadow: rgb(221, 221, 221) 0px 0px 0px 2px;
}

.create-spot-input[type='text']{
    font-size: 27px;
}

.create-spot-btn {
    padding: 14px 24px;
    border-radius: 8px;
    color:white;
    font-weight: 600;
    background-color: rgba(0, 0, 0, 0.938);
    transition: background-color ease .3s;
    cursor: pointer;
}

.create-spot-btn:hover{
    background-color: rgba(0, 0, 0, 0.808);
}
