.resize-img img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
}

.resize-img{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.one-spot-name{
    font-size: 42px;
    font-weight: 600;
    text-transform: capitalize;
}
.hosted-by{
    font-size: 26px;
    margin: 0;
}

#book-spot-title{
    margin-bottom: 0;
}

.view-one-spot{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    font-size: 20px;
    font-weight: 500;
    width: 700px;
    margin: auto;
}

.view-one-text{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-transform: capitalize;
}


.book-spot-container{
    margin-bottom: 300px;

}

#book-spot-form{
    display: flex;
    flex-direction: column;
    align-items: center
}
