.center-spot {
    display: flex;

}

#spot-image-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}

.create-spot-btn.add-img.url[type='text']{
    font-size: 16px;
}

.create-spot-input.add-img.url[type='text']{
    font-size: 20px;
}

.img-form-btn{
    display: flex;
    gap: 15px;
}


#spot-img-cont{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
    flex: 1;
    background-color: white;
    width: 700px;
    margin: auto;
    border-radius: 15px;
    border: 2px solid black;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    margin-bottom: 70px;

}

#add-imgs{
    margin-top: 30px;
    margin-bottom: 20px;
}

#created-spot-info{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
    padding-top: 60px;
    font-weight: 500;
    font-size: 27px;
    gap: 0px;
    text-align: left;
    background-color:white;

}

#no-images{
    flex: 1;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://wallpaperaccess.com/full/2461298.jpg);
}

#spot-info-text{
    line-height: 60px;
    margin-bottom: 10px;
    display:  flex;
    text-transform: capitalize;
    gap: 15px;
}

.color{
    color: #000000;
}

.color.p{
    margin-top: 0;
}

#add-images-logo-b{
    margin-top: 10px;
    color: #FF385C;
    font-size: 180px;
}

.user-host-spots img {
    width: 300px;
    height: 300px;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.img-form.add-img{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#align-img-txt{
    text-align: center;
}
.sep-text.url{
    margin-bottom: 10px;
}

.create-spot-input.add-img{
    height: 1px;
}
.create-spot-btn.add-img{
    margin-top: 10px;
}

.create-spot-btn.add-img.lnk{
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}
