.testing{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 200px;
    padding-top: 40px;
    margin-bottom: 0;
    padding-bottom: 40px;
    border-bottom: 2px solid black;
    background-color: black;
    color: red;
    margin-top: 0;
    position: sticky;
    top: 0;
    z-index: 9999;
    transition: ease 0.5s;
    height: 10px;

}
.testing.navbar{
    /* transition: all 0.3s ease; */
    background-color: white;
    position: sticky;
}


body{
    margin-top: 0;
}
.home-text{
    color: white;
    text-decoration: none;
    transition: ease 0.5s
}
.home-text.trans{
    color: #FF385C !important;
}

.testing li {
    list-style-type: none;
}

.signup-btn {
    display: flex;
    gap: 30px;
}


.profile-dropdown{
    background-color: white;
    position: absolute;
    right: 0px;
    margin-right: 210px;
    margin-top: 20px;
    width: 250px;
    border-radius: 20px;
    height: 385px;
    display:flex;
    flex-direction: column;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


.navbar-menu {
    position: relative;
    display:block;
}

.home-page-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.drp-menu-btn{
    text-decoration: none;
    font-weight: 500;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    color: black;
    width: 100%;
    display: inline-block;
    transition: background-color 500ms;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.drp-menu.btn:hover{
    background-color: #eceff1;
}

.menu-btn-div{
    width: 100%;
    transition: background-color 500ms;
}
.menu-btn-div:hover{
    background-color: #eceff1;
}

.btn.primary{
    border: none;
    text-align: left;
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    width: 100%;
    display: inline-block;
    cursor: pointer;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.btn.primary.logout{
    font-size: 16px;
    font-weight: 500;
}

#welcome-st{
    font-size: 16px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 20px;
}

link:visited{
    text-decoration: none;
}

.name-email{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 8px;
    margin-top: 14px;
    color: black;
    width: 100%;
    padding-left: 18px;
    font-size: 15px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.menu-icon
{
    display: flex;
    gap:10px;
    border-radius: 40px;
    background-color: white;
    padding: 17px 25px;
    border: 1px solid black;
    cursor: pointer;

}
#homeMenu{
    color: black;
}
#userIcon{
    color: gray;
}

#logo-home{
    display: flex;
    align-items: center;
    gap: 15px;

}
.fab.fa-airbnb{
    color: white;
    font-size: 36px;
    transition: ease 0.5s;
}

.fab.fa-airbnb.trans{
    color: #FF385C !important;
}

#airbeanb{
    display: flex;
    align-items: center;
    gap: 15px;
    font-weight: 600;
    font-size: 24px;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}


#loggedout-icons{
    display: flex;
    align-items: center;
    gap: 10px;
}

.profile-dropdown2{
    display: flex;
    flex-direction: column;
}


